<launch>

  <node pkg="mav_control" type="publish_loop.py" name="loop_path">
    <param name="radius" value="2"/>
    <rosparam param="center">[0, 0, 0]</rosparam>
    <param name="type" value="eight"/>
  </node>
  <remap from="target" to="/mavros/setpoint_raw/global"/>
  <remap from="pose" to="/mavros/mocap/pose"/>
  <remap from="origin" to="/mavros/mocap/origin"/>
  <node pkg="mav_control" type="follow_path.py" name="follow_path" output="screen">
    <param name="delta" value="0.5"/>
    <param name="distance" value="2"/>
    <param name="loop" value="true"/>
  </node>
</launch>
