<launch>
    <arg name="ns" default="$(env ns)"/>
    <arg name="id" default="$(env id)"/>
    <group ns="$(env HOSTNAME)/r$(arg id)">
        <remap from="target" to="mavros/setpoint_raw/global"/>
        <remap from="odom" to="mavros/global_position/local"/>
        <remap from="path" to="/$(arg ns)/path"/>
        <node pkg="mav_control" type="follow_path_utm.py" name="follow_path" output="screen" required="true">
            <param name="delta" value="1.4"/>
            <param name="loop" value="false"/>
            <rosparam param="range">
                - [0, 0]
                - [0, 10]
                - [10, 10]
                - [10, 0]
            </rosparam>
        </node>
    </group>
</launch>
