<launch>
    <arg name="ns" default="footbot_66"/>
    <node pkg="mav_control" type="multi_node.py" name="controller" output="screen">
      <param name="delta" value="0.5"/>
      <param name="distance" value="0.0"/>
      <param name="max_rate" value="6.0"/>
      <param name="min_distance" value="0.1"/>
      <param name="odom" value="mocap_odom"/>
      <param name="max_speed" value="2"/>
      <param name="track_s" value="false"/>
    </node>
    <group ns="$(arg ns)">

        <node pkg="mav_control" type="test.py" name="controller_test" output="screen">
            <remap from="odom" to="mocap_odom"/>
            <rosparam param='tests' command="load" file="$(find mav_control)/config/test_footbot.yml"/>
        </node>
        <node pkg="keyboard" type="keyboard" name="keyboard"/>
    </group>
</launch>
